[Unit]
Description=Démarre Prout aussi bien que ta daronne.

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/node /home/ubuntu/prout-js/index.js

[Install]
WantedBy=multi-user.target
