[Unit]
Description=Atrium
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=p0slx
ExecStart=/home/p0slx/Atrium/start_atrium.sh

[Install]
WantedBy=multi-user.target
